<div>
  <app-list-item *ngFor="let task of paginatedTasks" [task]="task" (toggleComplete)="toggleTask($event)"
    (onEdit)="editTask($event)" (onDelete)="deleteTask($event)"></app-list-item>
</div>

<div class="flex justify-center items-center mt-4 space-x-4" *ngIf="totalPages > 1">
  <button
    class="px-4 py-2 disabled:text-gray-600 text-white font-semibold rounded-md shadow-md disabled:cursor-not-allowed transition-colors"
    (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
    Anterior
  </button>
  <span class="text-gray-700 font-medium">
    Página {{ currentPage }} de {{ totalPages }}
  </span>
  <button
    class="px-4 py-2 disabled:text-gray-600 text-white font-semibold rounded-md shadow-md disabled:cursor-not-allowed transition-colors"
    (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
    Próxima
  </button>
</div>